
html {
    font-size: 26px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 3px 3px blue;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-height: 95%;
    min-width: 73%;
    background-color: rgba(124, 124, 124, 0.75);
    border-style: outset; 
    border-width: 5px 5px; 
    border-color: blue;
    border-radius: 20px;
}

h1, #time, #question {
    margin-top: 3%;
}

h1 {
    font-size: 52px;
}

ul, #question {
    font-size: 38px;
}

li {
    margin-top: 2%;
    height: 48px;
    width: 50%;
    display: inline-block;
    text-align: center;
    position: relative;
    padding-top: 15px;
    margin-bottom: 5px;

}

li:hover {
    background-color:  rgb(100, 100, 100);
    border-style: outset; 
    border-width: 5px 5px; 
    border-color: blue;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    margin-bottom: 0px;
}

#start {
    /* margin-top: 150px; */
    text-align: center;
    height: 100px;
    width: 300px;
    font-size: 48px;
    background-color: white;
    color: blue;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
}

#img {
    min-height: 200px;
    padding-top: 40px;
}

#startGif {
    padding-bottom: 40px;
}

#question, #answers, #img {
    display: none;
}